.git
.github
dist
node_modules
src-tauri/target
src-tauri/gen
website/node_modules
website/dist
coverage
downloads
docker-data
.docker-build
*.log
.DS_Store
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
